{% extends 'base.html' %}

{% block title %}Node Editor{% endblock %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/baklavajs@1/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/baklavajs@1/dist/index.min.css">
    <script src="/static/js/DataSourceNode.js"></script>
    <script src="/static/js/DataProcessingNode.js"></script>

    <div class="vh-100">
        <div id="editor"></div>
    </div>

    <script>
        const datasets = {{ my_data|safe }};
        const processing = {{ processing_cfg|safe }};
        
        
        const plugin = BaklavaJS.createBaklava(document.getElementById("editor"));
        const editor = plugin.editor;
        const viewPlugin = new BaklavaJS.PluginRendererVue.ViewPlugin();
        const engine = new BaklavaJS.PluginEngine.Engine(true);
        const interface = new BaklavaJS.PluginInterfaceTypes.InterfaceTypePlugin();
        
        editor.use(viewPlugin);
        editor.use(engine);
        editor.use(interface)
        editor.use(new BaklavaJS.PluginOptionsVue.OptionPlugin());
        
        editor.registerNodeType("Data", DataSourceNode);
        editor.registerNodeType("DataProcessing", DataProcessingNode);
        editor.registerNodeType("DisplayTest", TestNode);
        
    </script>

{% endblock %}
