{% extends 'base.html' %}

{% block title %}Node Editor{% endblock %}

{% block content %}

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/baklavajs@1/dist/index.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/baklavajs@1/dist/index.min.css">
    <script src="/static/js/DataSourceNode.js"></script>
    <script src="/static/js/DataProcessingNode.js"></script>

    <div class="vh-100">
        <div id="editor"></div>
    </div>

    <script>
        const datasets = {{ my_data|safe }};
        const processing = {{ processing_cfg|safe }};
        const process_url =  "/node_editor/processing";
        
        
        const plugin = BaklavaJS.createBaklava(document.getElementById("editor"));
        const editor = plugin.editor;
        const viewPlugin = new BaklavaJS.PluginRendererVue.ViewPlugin();
        const engine = new BaklavaJS.PluginEngine.Engine(true);
        const interface = new BaklavaJS.PluginInterfaceTypes.InterfaceTypePlugin();
        
        editor.use(viewPlugin);
        editor.use(engine);
        editor.use(interface)
        editor.use(new BaklavaJS.PluginOptionsVue.OptionPlugin());
        
        
        editor.registerNodeType("Data", DataSourceNode);
        editor.registerNodeType("ColumnSelection", ColumnSelectionNode);
        // editor.registerNodeType("DataProcessing", DataProcessingNode);
        editor.registerNodeType("DisplayTest", TestNode);
        
        editor.registerNodeType("DataTransform", DataTransformNode);
        editor.registerNodeType("DimensionReduction", DimensionReductionNode);
        editor.registerNodeType("MissingValueHandling", MissingValueHandlingNode);
        editor.registerNodeType("Normalization", NormalizationNode);
        editor.registerNodeType("OutlierHandling", OutlierHandlingNode);
        editor.registerNodeType("SampleBalancing", SampleBalancingNode);
        editor.registerNodeType("TailShrinkageAndTruncationProcessing", TailShrinkageAndTruncationProcessingNode);
        
        // let root_node_list = [ColumnSelectionNode, NormalizationNode];
        // engine.rootNodes = root_node_list;
        // console.log(engine.rootNodes);
    </script>

{% endblock %}
