better_profanity
Flask==2.3.2
Flask_Mail
google-cloud-storage
gunicorn==20.1.0
imblearn
langdetect
matplotlib
numpy
openai
openpyxl
pandas==1.5
pingouin
prettytable
psython
PyMySQL
requests
scikit-learn
scipy
seaborn
SQLAlchemy
statsmodels
Werkzeug
xlrd
