better_profanity
Flask
Flask_Mail
google-cloud-storage
gunicorn==20.1.0
imblearn
matplotlib==3.5.2
numpy
openai
openpyxl
pandas==1.5
PyMySQL
pingouin
psython
prettytable
requests
scikit-learn
scipy
seaborn
SQLAlchemy
Werkzeug
xlrd
langdetect
statsmodels
