better_profanity
Flask
Flask_Mail
google-cloud-storage
gunicorn==20.1.0
imblearn
matplotlib
numpy
openai
openpyxl
pandas
PyMySQL
requests
scikit-learn
scipy
seaborn
SQLAlchemy
Werkzeug
xlrd
langdetect
statsmodels