{% extends 'base.html' %}

{% block header %}
    {% block title %}About Us{% endblock %}
{% endblock %}

{% block content %}
    <div class="container flex-grow-1 d-flex flex-column justify-content-center py-3">
        <h1 class="text-center mb-4">About Us</h1>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <h6 class="text-center">We are a team of six students from the
                    <a href="https://www.liverpool.ac.uk/computer-science/" target="_blank">University of Liverpool</a>
                </h6>
                <p class="text-center small text-muted">The names are sorted in alphabetical order</p>
                <ul class="list-group mt-3">
                    <li class="list-group-item text-center border-0">Haoran Lu</li>
                    <li class="list-group-item text-center border-0">Jiaqi Liao</li>
                    <li class="list-group-item text-center border-0">Jiawei Li</li>
                    <li class="list-group-item text-center border-0">Shaojia Yang</li>
                    <li class="list-group-item text-center border-0">Zhan Jin</li>
                    <li class="list-group-item text-center border-0">Ziqiu Jiang</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
