{% extends 'base.html' %}

{% block title %}Data processing{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for("index") }}">Home</a></li>
            <li class="breadcrumb-item"><a herf="{{ url_for("data_processing.index") }}">Data Processing</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ file_path[file_path.find('/') + 1:] }}</li>
        </ol>
    </nav>

    <div class="container">

        <div class="row justify-content-between">
            <div class="col-md-4">
                <h2>Processing methods</h2>

                <div class="row g-3">
                    {% for algorithm in data_processing_algorithms %}
                        <div class="col-6">
                            <button type="button" class="btn btn-outline-primary" data-mdb-toggle="modal"
                                    data-mdb-target="#{{ algorithm["function_name"] }}">
                                {{ algorithm["name"] }}
                            </button>
                        </div>
                    {% endfor %}

                </div>


            </div>
            <div class="col-md-8">
                <iframe
                        src="https://view.officeapps.live.com/op/embed.aspx?src=https://lcda-vgnazlwvxa-nw.a.run.app/file/embedded/{{ file_path }}"
                        width="100%"
                        height="600px"
                ></iframe>
            </div>
        </div>


    </div>

    {% for algorithm in data_processing_algorithms %}
        <!-- Vertically centered scrollable modal -->
        <div class="modal fade modal-lg" id="{{ algorithm["function_name"] }}" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ algorithm["name"] }}</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form method="post">
                        <div class="modal-body">

                            <input type="hidden" id="function_name" name="function_name"
                                   value="{{ algorithm['function_name'] }}"/>

                            {# select column to be processed #}
                            <p class="fw-bold">Select the variables to be processed</p>

                            <select class="selectpicker" multiple data-live-search="true" name="column_selected">
                                {% for column_name in column_names %}
                                    <option value="{{ column_name }}">{{ column_name }}</option>
                                {% endfor %}
                            </select>

                            {% for parameter in algorithm["parameters"] %}
                                <p class="fw-bold mt-3">{{ parameter['name'] }}</p>

                                {% if parameter['type'] == 'text' %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="{{ parameter['name'] }}"
                                               placeholder="{{ parameter['name'] }}" name="{{ parameter['name'] }}"/>
                                    </div>
                                {% elif parameter['type'] == 'number' %}
                                    <div class="form-group">
                                        <input type="number" class="form-control" id="{{ parameter['name'] }}"
                                               placeholder="{{ parameter['name'] }}" name="{{ parameter['name'] }}"
                                               step="0.01">
                                    </div>
                                {% elif parameter['type'] == 'checkbox' %}
                                    <div class="form-check"><input class="form-check-input" type="checkbox"
                                                                   id="{{ parameter['name'] }}"
                                                                   name="{{ parameter['name'] }}"><label
                                            class="form-check-label"
                                            for="{{ parameter['name'] }}">{{ parameter['name'] }}</label>
                                    </div>
                                {% elif parameter['type'] == 'select' %}
                                    <div class="form-group">
                                        <select class="form-control" id="{{ parameter['name'] }}"
                                                name="{{ parameter['name'] }}">
                                            {% for option in parameter['options'] %}
                                                <option value="{{ option }}">{{ option }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                {% elif parameter['type'] == 'radio' %}
                                    {% for option in parameter['options'] %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio"
                                                   id="{{ option }}" name="{{ parameter['name'] }}">
                                            <label class="form-check-label" for="{{ option }}">
                                                {{ option }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    {% endfor %}


    <!-- Vertically centered scrollable modal -->
    {#    <div class="modal fade modal-lg" id="algorithm1" tabindex="-1">#}
    {#        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="exampleModalLabel">Some Algorithm 1</h5>#}
    {#                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>#}
    {#                </div>#}
    {#                <div class="modal-body">...</div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>#}
    {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <div class="modal fade modal-lg" id="algorithm_2" tabindex="-1">#}
    {#        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="exampleModalLabel">Some Algorithm 2</h5>#}
    {#                    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>#}
    {#                </div>#}
    {#                <div class="modal-body">...</div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>#}
    {#                    <button type="button" class="btn btn-primary">Save changes</button>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}


{% endblock %}