<!DOCTYPE html>
<html lang="en">
<head>
    <title>Low-code Data Analysis Platform</title>
</head>
<body>

<h1>Test webpage for 2022/23-COMP208-Team16</h1>
<p>Nice to see you!</p>

<!-- set the link to sign up page?-->
<p>Don't have an account? <br><a href='/auth/register'><b>Sign up here</b></a></p>
<!-- set the link to sign in -->
<p>Already have an account? <br><a href='/auth/login'><b>Sign in here</b></a></p>
<!--forget password-->
<p>Forgot your password? <br><a href='/auth/forgot_password'><b>Reset password here</b></a></p>

</body>
</html>
