{% extends 'base.html' %}


{% block header %}
    {% block title %}Dashboard{% endblock %}
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <h1 class="mb-3">Test webpage for 2022/23-COMP208-Team16</h1>


        <div class="note note-primary mb-3">
            <strong>Kind tips:</strong> Thank you for visiting our website! Please note that our website is currently
            undergoing development, and some content may be subject to change. We apologize for any inconvenience this
            may cause. Additionally, to ensure the best user experience, we may periodically delete user data. We
            recommend that you regularly back up any important information to avoid any potential data loss. Thank you
            for your understanding and support as we continue to improve our website.
        </div>

        {% if g.user %}
            <p>Good <span id="timeNow"></span>, {{ g.user.username }}!</p>
        {% else %}
            <p>Nice to see you!</p>
        {% endif %}

        <p>
            Welcome to LCDA, the Low-Code Data Analysis Platform. LCDA is a new approach to data analysis that aims to
            simplify the process of data analysis by reducing the amount of coding required. With LCDA, users can
            analyze large datasets quickly and easily without having to write complex code. The platform provides a
            user-friendly interface that enables users to drag and drop data into their analyses and visualize results.
            Whether you are a data scientist, business analyst, or simply looking to gain insights from your data, LCDA
            can help you achieve your goals faster and more efficiently than ever before.
        </p>

        <!-- set the link to sign up page-->
        <p>Don't have an account? <br><a href='/auth/register'><b>Sign up here</b></a></p>
        <!-- set the link to sign in page-->
        <p>Already have an account? <br><a href='/auth/login'><b>Sign in here</b></a></p>
        <!--forget password-->
        <p>Forgot your password? <br><a href='/auth/forgot_password'><b>Reset password here</b></a></p>
    </div>


    <script>
        const elem = document.getElementById("timeNow");
        const now = new Date();
        if (now.getHours() < 6) {
            elem.innerHTML = "night";

        } else if (now.getHours() < 12) {
            elem.innerHTML = "morning";

        } else if (now.getHours() < 18) {
            elem.innerHTML = "afternoon";

        } else {
            elem.innerHTML = "evening";
        }
    </script>


{% endblock %}
