{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
 <div class="container m-auto" style="max-width: 410px">
    <div class="d-flex justify-content-center my-3">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-primary" role="alert" style="width: 410px;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <h1 class="text-center m-5">Reset password</h1>
    <div class="m-auto" style="max-width: 400px">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <!--    <p>Enter your email address used for registration</p>-->
        <form method="post">
            <!-- Email input -->

            <div class="form-outline mb-4">

                <input id="email" name="email" class="form-control" required/>
                <label class="form-label" for="email">Email</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Next</button>
        </form>

    </div>
</div>
{% endblock %}