{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div  class="m-auto" style="max-width: 400px">
    <h1 class="text-center m-5">LCDA</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input id="username" name="username" class="form-control" required/>
            <label class="form-label" for="username">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="password" id="password" class="form-control" required/>
            <label class="form-label" for="password">Password</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
    </form>

    <a href="{{ url_for('auth.forgot_password') }}">  Forgotten your password?</a></p>
    <a href="{{ url_for('auth.register') }}">  Create a new account</a> </p>

</div>
{% endblock %}