{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<div  class="m-auto" style="max-width: 400px">
    <h1 class="text-center m-5">Log In</h1>
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    <form method="post">
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input id="username" name="username" class="form-control" required/>
            <label class="form-label" for="username">Username</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" name="password" id="password" class="form-control" required/>
            <label class="form-label" for="password">Password</label>
        </div>
        <div class="text-center">
            <!-- Simple link -->
            <a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Log In</button>
    </form>
    <p>Don't have an account? <br><a href="{{ url_for('auth.register') }}"><b>Sign up here</b></a></p>
    <!--forget password-->
</div>
{% endblock %}