{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Sign In{% endblock %}</h1>
{% endblock %}

{% block content %}

    <div class="container-fluid flex-grow-1 d-flex flex-column justify-content-center" style="max-width: 410px">

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert {% if category == 'warning-auth' %} alert-danger {% endif %} {% if category == 'message-auth' %} alert-primary {% endif %} d-flex align-items-center fade show mt-3"
                     role="alert" style="width: 100%;">
                    {% if category == 'warning-auth' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 18 18"
                             role="img" aria-label="Warning:">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    {% endif %}
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}


        <div class="card card border border-secondary shadow-0 my-3">
            <div class="card-body">
                <h5 class="text-center mb-4">LCDA</h5>
                <h1 class="text-center mb-4">Sign in</h1>
                <form method="post">
                    <!-- Username input -->
                    <div class="form-outline mb-4">
                        <input id="username" name="username" class="form-control" required/>
                        <label class="form-label" for="username">Username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" name="password" id="password" class="form-control" required/>
                        <label class="form-label" for="password">Password</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign In</button>
                </form>


                <a href="{{ url_for('auth.forgot_password') }}">Forgot password?</a></p>
                <a href="{{ url_for('auth.register') }}">Create account</a> </p>
            </div>
        </div>
    </div>
{% endblock %}