{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container-fluid flex-grow-1 d-flex flex-column justify-content-center" style="max-width: 410px">


        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="alert {% if category == 'warning-auth' %} alert-danger {% endif %} {% if category == 'message-auth' %} alert-primary {% endif %} d-flex align-items-center fade show mt-3"
                     role="alert" style="width: 100%;">
                    {% if category == 'warning-auth' %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                             class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 18 18"
                             role="img" aria-label="Warning:">
                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                        </svg>
                    {% endif %}
                    <div>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endwith %}

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}


        <div class="card card border border-secondary shadow-0 my-3">
            <div class="card-body">
                <h1 class="text-center my-4">Reset password</h1>
                <p class="text-center mb-4">Please check your email for the OTP</p>
                {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endif %}
                <form class="needs-validation" method="post" novalidate id="rest-password-form">
                    <!-- OTP input -->
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-user-shield fa-lg me-3 fa-fw"></i>
                        <div class="flex-fill mb-0" name="username">
                            <div class="form-outline ">
                                <input type="otp" name="otp" id="otp"
                                       class="form-control"
                                       required/>
                                <label name="username" class="form-label"
                                       for="username">OTP</label>
                                <div class="invalid-feedback">
                                    Please enter the OTP sent to your mailbox
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Password input -->
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                        <div class="flex-fill mb-0">
                            <div class="form-outline">
                                <input name="password" type="password" id="password"
                                       class="form-control" required/>
                                <label class="form-label" for="password">Password</label>
                                <div class="invalid-feedback">
                                    Please enter your new password
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                        <div class="flex-fill mb-0">
                            <div class="form-outline">
                                <input name="password_confirm" type="password" id="password_confirm"
                                       class="form-control" required/>
                                <label class="form-label" for="password_confirm">Repeat your
                                    password</label>
                                <div class="invalid-feedback">
                                    Please repeat your new password
                                </div>
                            </div>
                            <div class="text-danger" id="password-error"></div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        // check if two passwords match
        const password = document.getElementById('password');
        const password_confirm = document.getElementById('password_confirm');
        const passwordError = document.getElementById('password-error');
        const form = document.getElementById('rest-password-form');

        function checkPasswordMatch(event) {
            if (password.value !== password_confirm.value) {
                passwordError.innerHTML = 'Passwords do not match';
                form.querySelector('button[type="submit"]').disabled = true;
            } else {
                passwordError.innerHTML = '';
                form.querySelector('button[type="submit"]').disabled = false;
            }
        }

        password.addEventListener('input', checkPasswordMatch);
        password_confirm.addEventListener('input', checkPasswordMatch);
    </script>

{% endblock %}
