{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center my-3">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-primary" role="alert" style="width: 410px;">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <h1 class="text-center m-5">Reset password</h1>
    <div class="m-auto" style="max-width: 400px">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <form method="post">
            <!-- OTP input -->
            <div class="form-outline mb-4">
                <input type="otp" name="otp" id="otp" class="form-control" required>
                <label class="form-label" for="otp">Enter the OTP sent to your mailbox</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password" id="password" class="form-control" required>
                <label class="form-label" for="password">New Password</label>
            </div>

            <!-- Confirm password input -->
            <div class="form-outline mb-4">
                <input type="password" name="password_confirm" id="password_confirm" class="form-control" required>
                <label class="form-label" for="password_confirm">Confirm Password</label>
            </div>

            <button type="submit" class="btn btn-primary btn-block mb-4">Reset</button>
        </form>
    </div>
{% endblock %}
