<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form action = "" method = "post">
        <p>
            <label>Username</label>
            <input type = text name = username>
        </p>
        <p>
            <label>Email</label>
            <input type = email name = email>
        </p>
        <p>
            <label>Password</label>
            <input type = password name = password>
        </p>
        <p><input type = submit value = "Sign up"></p>
    </form>
</body>
</html>