<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
    <form action = "" method = "post">
        <p><label>Username
            <input type = text name = username>
        </label></p>
        <p><label>Email
                <input type = text name = email>
        </label></p>
        <p><label>Password
                <input type = text name = password>
        </label></p>
        <p><input type = submit value = "Sign up"></p>
    </form>
</body>
</html>