{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
</form>
<p>Don't have an account? <br><a href='/auth/register'><b>Sign up here</b></a></p>
<!--forget password-->
<p>Forgot your password? <br><a href='/auth/reset_password'><b>Reset password here</b></a></p>
{% endblock %}