{% extends 'base.html' %}

{% block title %}Data Analysis{% endblock %}

{% block content %}

    <style>
        .btn {
            text-transform: unset !important;
        }

        .info {
            display: none;
        }
    </style>


    <nav aria-label="breadcrumb mb-1">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for("index") }}">Home</a></li>
            <li class="breadcrumb-item"><a herf="{{ url_for("data_analysis.index") }}">Data Analysis</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ file_name }}</li>
        </ol>
    </nav>

    <div class="container-fluid">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show m-3"
                 role="alert">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                     class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16"
                     role="img" aria-label="Warning:">
                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                </svg>
                <div>
                    {{ message }}
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close"></button>
            </div>
        {% endfor %}

        <div class="row">

            <div class="col-lg-2 col-md-12 position-relative text-truncate">

                <h5 class="mb-3 h5">{{ file_name }}</h5>

                <hr>
                <h6 class="mb-3 h6">Analysis results</h6>


                <div class="vr position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
            </div>


            <div class="col-lg-3 col-md-12 position-relative">
                <h5 class="mb-3 h5">Choose algorithm</h5>
                <hr>
                <div class="accordion accordion-flush" id="algorithms_accordion">
                    {% for section in data_analysis_algorithms %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="heading_{{ section["code_name"] }}">
                                <button
                                        class="accordion-button collapsed"
                                        type="button"
                                        data-mdb-toggle="collapse"
                                        data-mdb-target="#collapse_{{ section["code_name"] }}"
                                        aria-expanded="false"
                                        aria-controls="collapse_{{ section["code_name"] }}"
                                >
                                    {{ section["section_name"] }}
                                </button>
                            </h2>
                            <div
                                    id="collapse_{{ section["code_name"] }}"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="heading_{{ section["code_name"] }}"
                                    data-mdb-parent="#algorithms_accordion"
                            >
                                <div class="accordion-body">
                                    <div class="d-grid gap-2">
                                        {% for algorithm in section["algorithms"] %}
                                            <button type="button"
                                                    class="btn btn-link btn-sm text-start text-dark algorithm_select_btn">
                                                {{ algorithm["name"] }}
                                            </button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="vr position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
            </div>

            <div class="col-lg-7 col-md-6 container-fluid">
                {% for section in data_analysis_algorithms %}
                    {% for algorithm in section["algorithms"] %}
                        <div id="info_{{ algorithm['code_name'] }}" class="info">
                            <h5 class="mb-3 h5">{{ algorithm["name"] }}</h5>
                            <hr>
                            <h6 class="mb-3 h6">Description</h6>
                            <p>{{ algorithm["description"] }}</p>
                            <p><a href="{{ algorithm["link"] }}" target="_blank">More info</a></p>


                            <form method="post">
                                <input type="hidden" id="function_name" name="function_name"
                                       value="{{ algorithm['code_name'] }}"/>

                                {% for variable in algorithm["variables"] %}
                                    <p class="fw-bold mt-3">{{ variable["description"] }}</p>
                                    {% if variable["type"] == "multi_select" %}
                                        <select class="selectpicker" multiple data-live-search="true"
                                                name="{{ variable['name'] }}">
                                            {% for column_name in column_names %}
                                                <option value="{{ column_name }}">{{ column_name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elif variable["type"] == "single_select" %}
                                        <select class="form-select" name="{{ variable['name'] }}">
                                            {% for column_name in column_names %}
                                                <option value="{{ column_name }}">{{ column_name }}</option>
                                            {% endfor %}
                                        </select>
                                    {% endif %}


                                {% endfor %}


                                {#                                <p class="fw-bold">Select the variables to be processed</p>#}
                                {##}
                                {#                                <select class="selectpicker" multiple data-live-search="true" name="column_selected">#}
                                {#                                    {% for column_name in column_names %}#}
                                {#                                        <option value="{{ column_name }}">{{ column_name }}</option>#}
                                {#                                    {% endfor %}#}
                                {#                                </select>#}

                                {% for parameter in algorithm["parameters"] %}
                                    <p class="fw-bold mt-3">{{ parameter['name'] }}</p>
                                    <p>{{ parameter["description"] }}</p>

                                    {% if parameter['type'] == 'text' %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="{{ parameter['code_name'] }}"
                                                   placeholder="{{ parameter['code_name'] }}"
                                                   name="{{ parameter['code_name'] }}"/>
                                        </div>
                                    {% elif parameter['type'] == 'number' %}
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="{{ parameter['code_name'] }}"
                                                   placeholder="{{ parameter['code_name'] }}"
                                                   name="{{ parameter['code_name'] }}"
                                                   value="{{ parameter['default'] }}"
                                                   step="0.01"/>
                                        </div>
                                    {% elif parameter['type'] == 'checkbox' %}
                                        <div class="form-check">
                                            <input class="form-check-input"
                                                   type="checkbox"
                                                   id="{{ parameter['code_name'] }}"
                                                   name="{{ parameter['code_name'] }}"
                                                    {{ parameter["default"] }}
                                                   value="True"/>
                                            <label class="form-check-label" for="{{ parameter['code_name'] }}">
                                                {{ parameter['name'] }}
                                            </label>
                                        </div>
                                    {% elif parameter['type'] == 'select' %}
                                        <div class="form-group">
                                            <select class="form-select" id="{{ parameter['code_name'] }}"
                                                    name="{{ parameter['code_name'] }}">
                                                {% for option in parameter['options'] %}
                                                    <option value="{{ option }}">{{ option }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% elif parameter['type'] == 'radio' %}
                                        {% for option in parameter['options'] %}
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                       id="{{ option }}" name="{{ parameter['code_name'] }}"/>
                                                <label class="form-check-label" for="{{ option }}">
                                                    {{ option }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                                <div class="d-grid gap-2 d-md-flex justify-content-md-end my-3">
                                    <button type="submit" class="btn btn-primary">SUBMIT</button>
                                </div>
                            </form>
                        </div>



                    {% endfor %}
                {% endfor %}


            </div>

        </div>
    </div>

    <script>
        window.addEventListener('DOMContentLoaded', function () {
            // Get references to the buttons and information elements
            var buttons = document.getElementsByClassName('algorithm_select_btn');
            var infos = document.querySelectorAll('div[id^="info"]'); // get all divs with id starting with "info"

            // Add click event listeners to the selected buttons
            Array.from(buttons).forEach(function (button, index) {
                button.addEventListener("click", function () {
                    // Hide all information elements except for the one corresponding to this button
                    infos.forEach(function (info) {
                        info.style.display = "none";
                    });

                    // make all button class to btn btn-link btn-sm text-start text-dark algorithm_select_btn
                    Array.from(buttons).forEach(function (button, index) {
                        button.className = "btn btn-link btn-sm text-start text-dark algorithm_select_btn";
                    });

                    // change current the button class to btn btn-secondary btn-sm text-start algorithm_select_btn
                    button.className = "btn btn-secondary btn-sm text-start algorithm_select_btn";
                    infos[index].style.display = "block";
                });
            });
        });
    </script>

{% endblock %}